.header_btn {
    position: relative;
    transition: color 0.3s ease;
    color: white;
  }
  
  .header_btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0; 
    background: #93ed67;
    transition: width 0.3s ease, background 0.3s ease; 
  }
  
  .header_btn:hover {
    cursor: pointer;
    color: #93ed67;
    background: black;
  }
  
  .header_btn:hover::after {
    width: 100%; 
  }
  